{% extends "base.html" %}

{% block content %}

<section class="h-100 gradient-form" style="background-color: #eee; background-image: url(/static/images/HomePic.png); background-size: 100% 100%;">

    <br>
    <br>
    <br>

    <div>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">


                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    

                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>


</section>

{% endblock %}