{% extends "base.html" %}

{% block content %}

<section class="h-100 gradient-form" style="background-color: #eee; background-image: url(/static/images/HomePic.png); background-size: 100% 100%;">

    <br>
    <br>
    <br>

    <div>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black text-center">


                    <h4>Welcome to our gym tracking website, the ultimate tool for fitness enthusiasts! We understand the importance of tracking progress, and that's why we've created a website that allows gym-goers to monitor their weights across multiple exercises and workouts.</h4>
                    <br>
                    <h4>Our user-friendly interface allows you to easily input your weights for each exercise, creating a comprehensive log of your fitness journey. Whether you're a beginner or an experienced athlete, our website makes it easy to track your progress, and stay motivated to achieve your fitness objectives.</h4>
                    <br>
                    <h4>Our platform also includes a range of features designed to make your fitness journey as seamless as possible. You can customize your workout plan and track your body weight.</h4>
                    <br>
                    <h4>At our gym tracking website, we're committed to helping you achieve your fitness goals. Join our community today and take your first step towards a healthier, fitter, and stronger you!</h4>
                    

                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>


</section>

{% endblock %}