{% extends "base2.html" %}

{% block content %}

<section class="h-100 gradient-form" style="background-color: #eee;">

    <br><br><br>

    <div>
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">

                    <br>
                    <div id="here" hx-swap="outerHTML" class="card-body text-center">
                        <u><h3 id="thick">Your Workouts:</h3></u>
                        <a href="/addWorkouts" class="btn btn-dark">Add A Workout</a> 
                        <p></p>

                        {% for el in workouts %}

                        <div class="card">
                            <div class="card-body text-center">
                                <div><label>{{el.name}}</label>: {{ el.type }}</div>
                                <a href="/workoutExercises/{{ el.id }}" class="btn btn-dark">Add Exercises</a>
                                <button hx-get="/delete2/{{el.id}}" hx-target="#here2" class="btn btn-dark">Delete</button>
                            </div>
                        </div>
                        <br>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>


</section>

{% endblock %}